<template>
<div class="padded content-grid">
    <h1>tag: {{slug}}</h1>
    <Archive :posts="posts" /> 
</div>
</template>

<script>

import Archive from "../../../components/archive.vue";

export default {
    components: {
        Archive
    },

    data() {
        return {
            posts: [],
            slug: this.$route.params.slug,    
        };
    },

 
    async fetch() {

        this.posts = await this.$content("blog")
            .where({ tags: { '$regex': this.slug } })
            .sortBy("date", "desc")
            .fetch();           
    }
};
</script>

<style scoped>

</style>

