<template>
    <div class="content-grid">
        <h1 class="padded aligncenter">Writing & Links</h1>
        
        <Archive :posts="posts" />  

        <PostNavigation :currentPage="currentPage" />
    </div>
</template>

<script>

import Archive from "../../components/archive.vue";
import PostNavigation from '../../components/post-navigation.vue';

export default {
    components: {
        Archive     ,
        PostNavigation      
    },

    computed: {
        currentPage() {
            return parseInt(this.$route.params.page)
        }
    },

    async asyncData({ $content, params}) {

        let skip = (params.page - 1) * 10

        let posts = await $content("blog")
            .limit(10)
            .skip(skip)
            .sortBy("date", "desc")
            .fetch()    
                    
        return {
            posts
        }
    }
};
</script>

<style scoped>


</style>

