<template>
    <main class="tumblr-post">      
        
        <figure v-if="image">            
            <img class="tumblr-image" :src="image" alt="Elephant at sunset" />            
            <figcaption v-html="post.caption" />
        </figure>        

        <div v-if="!image" v-html="post.body"></div>        

        <p><small>Originally posted on <a :href="post.blog.url">{{post.blog_name}}</a></small></p>

    </main>  
</template>

<script>

export default {

    computed: {
        image: function() {

            if( this.post.photos ) {
                return this.post.photos[0].original_size.url;
            } 

            return false;
        }
    },


    async asyncData ({ params, error, payload }) {

        async function getPost(id) {
            return await fetch(`https://mattbev.com/.netlify/functions/tumblr?id=${params.id}`).then(res=>res.json());
        }


        if (payload) {
            return { post: payload }
        } else {
            
            const response = await getPost(params.id);
            
            return { 
                post: response[0] 
            }

        }
    }

    
};

</script>

<style scoped>
    main {
        display: grid;
        place-content: center;
    }

    main figure {        
        max-width: 680px;
    }

</style>

