<template>
    <div :class="colors == 'alternate'? 'alternated posts': 'posts'">        
        <div class="post padded" v-for="(post, key) in posts" :key="key">       
            <Link v-if="post.type === 'link'" :post="post" :titleTag="titleTag" />
            <Excerpt v-if="post.type === 'post'" :post="post" :titleTag="titleTag" />
        </div>
    </div>
</template>

<script>

import Excerpt from "./excerpt.vue";
import Link from "./link.vue";

export default {
    components: {
      
        Link,
        Excerpt
    },

    props: ["posts", "colors", "titleTag"],     
    
};
</script>

<style scoped>
    .alternated .post:nth-child(odd) {
        background: #dccc;
    }


</style>

