<template>
    <article>
        
        <component :is="titleTag">             
            <span>{{ formatDate(post.date) }}</span><br />
            <nuxt-link :to="`/garden/${post.slug}`" v-if="!post.url">
                {{ post.title }} ✍🏻
            </nuxt-link>            
        </component>

        <aside class="entry-meta" v-if="post.series || post.part || post.tags">
            <span v-if="post.series && post.part">Part {{ post.part }} // {{ post.series }}</span>
            <ul class="tags no-emoji">               
                <Tag v-if="post.tags" v-for="(tag, key) in formatTags(post.tags)" :key="key" :name="tag" />                   
            </ul>      
        </aside>   


    </article> 

</template>

<script>
import Tag from "./tag.vue";
import {
    formatDate
} from "../common/formatDate";

export default {
    components: {
     Tag
    },

    props: [
        "post", 
        "titleTag"
    ],
   
    methods: {
        formatDate(rawDateString) {
            return formatDate(rawDateString);
        },
        formatTags(tags) {
            return tags.split(",");
        } 
    }, 
      
    
};
</script>

<style scoped>

/**
layout

*/
.content-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 67% 1fr;

}

a {
    color: darkblue;
    text-decoration-color: lightblue;
    transition: text-decoration-color 1s;
}

a:hover {
    text-decoration-color: tomato;
}

span {
    color: #333;
    font-size: 0.5em;
}

</style>

