<template>
  <footer class="black small padded">
    <Navigation />
    <ul class="flex-box emoji">
      <li class="books">
        <nuxt-link to="/bookshelf">Bookshelf</nuxt-link>
      </li>
 
      <li>
        <nuxt-link to="/about">More about this site</nuxt-link>
      </li>
    </ul>
  </footer>
</template>
<script>
import Navigation from "./navigation";
export default {
  components: { Navigation },
  props: ["computeLayout"],
};
</script>
<style scoped>
footer nav {
  display: none;
}
ul {
  justify-content: space-between;
  list-style: none;
}
li {
  padding: 0 1em;
}

@media (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  li {
    padding: 1em;
  }
  footer nav {
    display: block;
  }
}
</style>
