<template>
    <article>       
        <component class="title" :is="titleTag">
            <span>{{ formatDate(post.date) }}</span><br />
            <a class="link-title" v-if="post.url" :href="post.url" target="_blank" rel="noopener noreferers">
                {{formattedTitle}} 
                <img src="/external-link.svg" alt="Opens in a new tab" />         
            </a><br /> 
            <span>{{post.url}}</span>
        </component>

        <div class="link-notes">            
            <div class="link-notes">            
                <p v-if="post.excerpt">{{post.excerpt}}</p>
                <nuxt-content v-if="!post.excerpt" :document="post" />
            </div>            
        </div>

        <aside class="entry-meta" v-if="post.tags">           
            <ul class="tags no-emoji">               
                <Tag v-if="post.tags" v-for="(tag, key) in formatTags(post.tags)" :key="key" :name="tag" />                   
            </ul>            
        </aside>

    </article>
</template>

<script>

import { decode } from 'he'; 

import Tag from "./tag.vue";
import {
    formatDate
} from "../common/formatDate";

export default {
    components: {
        Tag
    },

    props: [
        "post", 
        "titleTag"
    ],

    computed: {
        formattedTitle() {
            return decode(this.post.title);             
        }
    },
   
    methods: {
        formatDate(rawDateString) {
            return formatDate(rawDateString);
        },

        formatTags(tags) {
            return tags.split(",");
        }
    }, 
      
    
};
</script>

<style scoped>

/**
layout

*/
.content-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 67% 1fr;

}


.title span {
    color: #333;
    font-size: 0.5em;
}


.link-title {
    color: midnightblue;
    text-decoration: underline;
    text-decoration-color: darkorange;
     transition: text-decoration-color 1s;
}

.link-title:hover {
    text-decoration-color: lightblue;
}

.link-title img {
    height: 20px;
    width: 20px;
}

ul.tags {
    display: inline-block;
}

</style>

