<template>
  <nav class="menu black">
    <ul class="flex-box inner padded no-emoji">
      <li>
        <nuxt-link to="/">Home</nuxt-link>
      </li>
      

      <li class="writing">
        <nuxt-link to="/writing">Writing</nuxt-link>
      </li>

      <li>
        <nuxt-link to="/personal">Personal</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/contact">Contact Me</nuxt-link>
      </li>
      <li>
        <a href="https://resume.mattbev.com">Resume <img src="/external-link.svg" alt="Opens in a new tab" /></a>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {};
</script>
<style scoped>
nav ul {
  list-style: none;
}

/**hide emojis from header menu */
@media (min-width: 800px) {
  nav ul li:before {
    display: none !important;
  }
}
/** basic header styles */
nav ul li a {
  display: flex;
  padding: 0 0.5em;  
  text-decoration: none;
}

nav ul li a img {
  filter: invert(1);
  padding-left: .25em;
}

/** the nav is in the footer on mobile and these are the styles */
@media (max-width: 800px) {
  nav {
    display: none;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
  }
  nav ul li {
    padding: 1em;
  }
}
</style>
