<template>
    <div class="post-navigation-wrap">
        <nav class="post-navigation">
            <p>You are on page <span v-html="currentPage"></span></p>
            <nuxt-link :to="`/writing/${currentPage - 1}`">Previous page</nuxt-link>  
            <nuxt-link :to="`/writing/${currentPage + 1}`">Next page</nuxt-link>
        </nav>
    </div>
</template>
<script>
export default {
    props: ['currentPage']
};
</script>
<style scoped>
    .post-navigation-wrap {
        padding: 3em;
        background: #cecece;
    }

    .post-navigation {
        display: grid;
        margin: auto;
        max-width: 900px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        text-align: center;
        text-transform: uppercase;
    }

    .post-navigation p {
        grid-column: span 2;      
    }

    .post-navigation a:before {
        content: "<<";  
    }

    .post-navigation a:last-child::before {
        display: none;
    }

    .post-navigation a:last-child::after {
        content: ">>";  
    }

</style>
