<template>
    <div v-if="$fetchState.pending || $fetchState.error" ></div>
    <div v-else class="recent-posts cornsilk">      
        <h2>Recent Writing</h2>  
        <Archive :posts="posts" colors="do-not-alternate" titleTag="h3" />  
    </div>
</template>

<script>
import Archive from './archive.vue';
import {formatDate} from '../common/formatDate';

export default {

    components: {
        Archive
    },

    data() {
        return {
            posts: []
        }
    },
 
    async fetch() {      
        /**
         * 
         * get recent blog posts
         */

        const blog = await this.$content('blog').where({type:'post'}).only(['title', 'date', 'slug', 'type']).limit(3).sortBy('date', 'desc').fetch()
        
        this.posts = blog.map( post=> {

            // properly format the date
            post.date = formatDate(post.date)


            // return the cleaned post object
            return post
        });       
      
        
    }

    
};
</script>

<style scoped>
 
  .recent-posts {
      color: black;
      padding: 5vh 10vw;
  }

  


</style>

