<template>
  <article :style="`background-image: url('${image}')`">
    <h3>
      <nuxt-link :to="link">{{ title }}</nuxt-link>
    </h3>
  </article>
</template>
<script>
export default {
  computed: {},
  methods: {},
  props: ["link", "image", "title"]
};
</script>
<style scoped>
article {
  align-items: center;
  background-color: rgba(1, 1, 1, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 300px;
  width: 300px;
}
h3 {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}
h3 a {
  color: white;
  text-decoration: none;
}
</style>
