<template>
<li>
    <nuxt-link :to="`/garden/tag/${name}`">{{ name }}</nuxt-link>
</li>
</template>

<script>
export default {
    components: {},
    props: ["name"]
};
</script>

<style scoped>
li { 
    display: inline-block;
    font-size: 0.75em;
    font-style: italic;
    padding-left: 1.5rem;
    position: relative;
}

a:hover {
    font-weight: bold;
}


</style>
