/* replace normalize */

html,
body {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;

  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

body {
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

body {
  overflow-x: hidden;
}

html * {
  box-sizing: border-box; /* why not? */
  max-width: 100%;
}

.layout {
  min-height: calc(100vh - 58px);
}

ul,
li {
  margin: 0;
  padding: 0;
}

.small {
  font-size: 80%;
}

.site-title {
  font-family: "Nanum Gothic Coding", monospace;
}

button[type="submit"]:focus,
input:focus,
a:focus {
  outline: 2px dashed tomato;
}

/* HELPERS */

div,
nav,
article,
img {
  max-width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 800px;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
}

.flex-box {
  display: flex;
}

.padded {
  padding: 1em;
}

.pointer {
  cursor: pointer;
}

.no-list {
  list-style: none;
}

.aligncenter {
  text-align: center;
}

@media (min-width: 800px) {
  .alignleft {
    float: left;
    padding: 1em;
  }

  .alignright {
    float: right;
    padding: 1em;
  }
}

/* LAYOUT */

.bookshelf.grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(525px, auto));
  grid-gap: 1em;
}

@media (min-width: 1200px) {
  .bookshelf.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 3em;
  }
  .grid {
    grid-template-rows: minmax(0, min-content) 1fr;
  }

  .grid nav {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .grid.layout nav.menu {
    order: 1;
  }
  .grid.layout section.sidebar {
    order: 3;
  }
  .grid.layout div.container {
    order: 2;
  }
}

/* COLORS */

.black {
  background: black;
  color: white;
}

.black a,
.black a:visited {  
  color: white;
}


.cornsilk {
  background: cornsilk;
  color: black;
}

.cornsilk a, .cornsilk a:visited {
  color: chocolate;
}

a,
a:visited {
  color: blue;
  border: 3px solid transparent;
}

a:hover {
  border: 3px dotted blue;
  transform: scale(1.1);
}

/** code styles **/

code {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 18px;
}

/* cool list style*/

ul.emoji {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.emoji li {
  padding-left: 1rem;
  text-indent: -0.7rem;
}

ul.emoji li:nth-child(7n)::before {
  content: "🤓 ";
}

ul.emoji li:nth-child(7n + 1)::before {
  content: "🐱 ";
}

ul.emoji li:nth-child(7n + 2)::before {
  content: "💀 ";
}

ul.emoji li:nth-child(7n + 3)::before {
  content: "🐶 ";
}

ul.emoji li:nth-child(7n + 4)::before {
  content: "🦄 ";
}

ul.emoji li:nth-child(7n + 5)::before {
  content: "😎 ";
}

ul.emoji li:nth-child(7n + 6)::before {
  content: "😈 ";
}

ul.emoji li.books::before {
  content: "📚 ";
}

ul.emoji li.writing::before {
  content: "✍️ ";
}
