<template>
<div class="container padded">
    <div v-if="post.thumbnail" class="masthead" :style="`background-image: url('${post.thumbnail}')`">
        <h1>{{ post.title }}</h1>        
    </div>
    <div class="inner">
        <h1 v-if="!post.thumbnail" class="post-title">{{ post.title }}</h1>
        <div class="entry-meta">Published: {{ formatDate(post.date) }}</div>
        <p class="attr" v-if="post.type=='link'">Found on: <a :href="post.url">{{post.author}}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
        </p>

        <nuxt-content :document="post" />
    </div>
</div>
</template>

<script>
import {
    formatDate
} from "../../common/formatDate";

export default {
    methods: {
        formatDate(rawDateString) {
            return formatDate(rawDateString);
        }
    },

    async asyncData({
        $content,
        params,
        error
    }) {
        let post;
        try {
            post = await $content("blog", params.slug).fetch();
        } catch (e) {
            error({
                message: "Blog Post not found"
            });
        }

        return {
            post
        };
    }
};
</script>

<style scoped>
/** styles just for the blog post, injected in this manner as scoped was not getting them */

.nuxt-content h3 {
    font-family: "Nanum Gothic Coding", monospace;
    text-transform: uppercase;
}

</style><style scoped>
/*** remaining styles explicity scoped to the component  */

.masthead {
    align-items: center;
    background-repeat: no-repeat;
    background-position: center 33%;
    background-size: cover;
    justify-content: center;
    display: flex;
    margin-bottom: 1em;
    min-height: 55vh;
}

.masthead h1 {
    color: white;
    font-size: 8em;
    margin: 0;
    text-shadow: 4px 4px 4px teal, 8px 8px 4px orange;
}

.entry-meta {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 0.75em;
}

.attr {
    font-style:italic;
    font-weight: bold;
}

.attr a {
    display: inline-flex;
    place-items: center;
}


</style>
