<template>
  <div>
    <div :class="layout">
      <Navigation />
      <nuxt />
    </div>
    <Footer :computeLayout="computeLayout" />
  </div>
</template>

<script>
import Footer from "../components/footer";
import Navigation from "../components/navigation";

export default {
  components: {
    Navigation,
    Footer,
  },
  data() {
    return {
      showMenu: false,
    };
  },
  methods: {
    computeLayout() {
      if (this.showMenu) {
        this.showMenu = false;
      } else {
        this.showMenu = true;
      }
    },
  },
  computed: {
    layout() {
      if (!this.showMenu) {
        return "grid layout";
      }
      return "grid layout expanded";
    },
  },
};
</script>
<style>
</style>
