<template>
  <main class="container inner padded">
    <h1 class="aligncenter">About this Site</h1>
    <p>The site is produced by typing into Markdown files, compiled using Nuxt, and hosted on Netlify.</p>
    <p>The code is on <a href="https://gitlab.com/thewatermethod/mattbev">Gitlab</a>.</p>

    <hr />

    <p>The homepage illustration is by <a href="https://www.twitter.com/KiwiMonsta">Gino Vasconcelos</a></p>

    <p>The scary metal font on the homepage was created by Lecter Johnson by doubletwo.net. Copyrights (c) doubletwo.net, 2007. All rights reserved.</p>

  </main>
</template>
