<template>
<main>
  <div class="container inner padded">
    <h1 class="aligncenter">Bookshelf</h1>
    <p class="aligncenter"><em>Recorded since 2018 or so</em></p>
    <!-- <p>
      These are books I've read since the last couple months of 2018 (which is
      when I started keeping track).
    </p>

    <p>
      <a href="https://www.goodreads.com/review/list/1916394-matt?shelf=read"
        >I used to keep a GoodReads account</a
      >
      but I stopped updating that seven years ago. It is extremely wild and cool that I have so much of my reading history recorded though.
    </p> -->

  </div>

    <div class="grid bookshelf">
      <article v-for="(book, key) in shelf" :key="key" class="book">
        <img
          :src="book.thumbnail.replace('/static', '')"
          loading="lazy"
          alt=""
          style="height: 300px; width: 200px"
        />
        <div>
          <h2>{{ book.title }}</h2>
          <p class="meta">
            <span class=" author">{{ book.author }}</span
            ><br />     
      
          </p>
        </div>
      </article>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      shelf: []
    };
  },

  components: {},

  async fetch() {
    this.shelf = await this.$content("book")
      .sortBy("read", "desc")
      .fetch();
  }
};
</script>

<style scoped>
.book {
  text-align: center;
}

.book h2 {
  font-size: 22px;
}

.book .meta {
  font-size: 18px;
}
</style>
