<template>
  <main class="container inner padded">
  <h1 class="aligncenter">Let's Talk</h1>

    <form class="inner" name="contact" method="POST" action="/success" netlify>
     

      <input type="text" id="input-name" placeholder="Name" name="contactName">
      <input type="email" id="input-email" placeholder="Email address" name="contactEmail">
      
      <input
        type="text"
        id="input-last-name"
        placeholder="Last Name"
        name="lastName"
        netlify-honeypot="bot-field"
      >
      
      <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
      
      <input type="hidden" name="form-name" value="contact">
      <div data-netlify-recaptcha="true"></div>

      <button class="background-red padded" id="input-submit" type="submit">Get in Touch</button>
    </form>
  </main>
</template>



<style scoped>
input[name="lastName"] {
  position: fixed;
  left: -999999999px;
}

input,
select,
textarea {
  clear: both;
  margin: 0.5em;
  padding: 0.5em;
  width: 100%;
}

button {
  border: 0;
  cursor: pointer;
  display: block;
  margin: 1em auto;
  outline: 0;
  width: 50%;
}

button:hover {
  background: #e53935;
}

#thisField {
  left: -99999px;
  position: fixed;
}
</style>