<template>
    <div class="content-grid">
        <h1 class="padded aligncenter">del.icio.us archive</h1>

        <p class="tagline">Anyone remember del.icio.us? It used to be my actual favorite tool. Well, now you can <a href="http://del.icio.us">go there</a> and download your old data.</p>
        <p class="tagline">Here's mine:</p>
        
        <Archive :posts="posts" />  

    
    </div>
</template>

<script>
import Archive from "../components/archive.vue";

export default {
    components: {
        Archive
    },

    computed: {
 
    },

    async asyncData({ $content, params}) {

        let posts = await $content("delicious")      
            .sortBy("date", "desc")
            .fetch()    
                    
        return {
            posts
        }
    }
};
</script>

<style scoped>
    .tagline {
        margin: 2em auto;
        max-width: 67ch;
        padding: 0 0.5em;
    }

    @media( min-width: 800px ) {
        .posts {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

</style>

