<template>
  <main class="container black">
    <div class="inner padded masthead">     
      
      <div class="flex-wrap">
        <div class="flex-col">          
          <h1 :class="`site-title ${font}`">Matt Bevilacqua <button aria-hidden="true" @click="translateFont">Change to a readable font</button></h1>
          
          <p>Developer</p>
           <p>      
          <a href="mailto:matt@mattbev.com">matt@mattbev.com</a>
          </p>

         <p>
          You can find me on
          <a href="https://github.com/thewatermethod">Github</a> or
          <a href="https://gitlab.com/thewatermethod">Gitlab</a>.
          </p>
        </div>

        <div class="flex-col">
          <img src="~/assets/matt.jpg" alt="An ancient wizard consults a tome, flanked by bookshelves and a coterie of chihuahuas"/>
        </div>           

      </div>        
   
    </div>
    <Recent />
    
  </main>
</template>
<script>
import Recent from '../components/recent';


export default {
  components: { 
    Recent
  },
  data: function() {
    return {
      font: "metal"
    }
  },
  methods: {
    translateFont() {
      this.font == "metal" ? this.font = 'plain' :  this.font == "metal"
    }
  },
 
};

</script>

<style scoped>
  @font-face {
    font-family: "Ultimate Black Metal";
    src: url('~assets/XXII-Ultimate-Black-Metal.ttf');
  }

  .masthead {
    min-height: 75vh;
  }

  .site-title {
    position: relative;
  }

  .site-title button {
    display: none;
  }

  .flex-wrap {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .flex-col:first-of-type {
    order: 2;
  }

  .flex-col img {    
    max-height: 50vh;
    max-width: 100%;
  }

  @media( min-width: 800px ) {

   .site-title.metal {
      font-family: "Ultimate Black Metal";  
      font-size: 3em;
    }

    .site-title.metal:hover button {  
      bottom: 0;  
      display: inline;
      left: 35%;
      position: absolute;      
      width: 30%;      
    }

    .flex-wrap {
      flex-direction: row;
      gap: 1em;  
    }

    .flex-col {
      flex: 1;
    }

    .flex-col:first-of-type {
      order: 1;
    } 
   
   .flex-col:nth-of-type(2) {
     order: 2;
    }

    .flex-col img {    
      max-height: none;
    }

    .details {
      text-align: center;
    }
  }

</style>
