<template>
<main>
    <h1>A collection of links </h1>
   
    <ul>
        <li>
            <a href="https://mattbev.com">Homepage</a>
        </li>
        <li>        
            <a href="https://mattbev.com/writing">Recent writing</a>
            I blog about dev stuff when it catches my eye
        </li>
        <li><a href="https://github.com/thewatermethod">My Github</a></li>
        <li><a href="https://gitlab.com/thewatermethod">My Gitlab</a></li>        
        <li>
            <a href="https://whalingcityweb.com">Whaling City Web</a>
            This is the semi-defunct landing page I use to capture freelance clients
        </li>    
        <li>
            <a href="https://goldenagehorror.com">The Golden Age Horror.com Podcast</a>
            I've been doing this podcast with my friend Andrew for way longer than I thought we'd manage to do it
        </li>
        <li>
            <a href="https://actualplay.network">ActualPlay.Network</a>
            Yikes this is embarassing
        </li>
        <li>
            <a href="https://thewatermethod.tumblr.com">Personal tumblr</a>            
        </li>
        <li>
            <a href="https://twitter.com/thewatermethod">Personal twitter</a>            
        </li>
    </ul>
</main>

</template>

<script>
export default { 
    layout: "plain"
}
</script>

<style scoped>
main {
    background: #efefef;
    margin: 0;
    min-height: 100vh;
    padding: 1em 0;
}

h1 {
    margin: 0;
    text-align:center;
}

ul {
    list-style: none;
    margin: auto;
    max-width: 600px;
}

li {
    border-radius: 12px;
    border: 2px solid green;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
}

a {
    display: block;    
}
</style>