<template>
  <main class="container inner padded">
    
    <h1 class="aligncenter">A little about me</h1>

    <img
      src="~/assets/guitar.jpg"
      class="alignright"
      alt="a scraggly doofus playing guitar while a young child plays electric mandolin on a bed"
    />

    <p>
      That's my daughter. She was just a baby in this picture! We don't play
      much guitar together anymore (although maybe I can fix that someday), but
      we do still watch a lot of cartoons together.
    </p>

    <p>
      You also might find me exploring New England, or taking care of my best
      dog friend Tex.
    </p>

    <p>
      I like to brew beer, sit in the sun and
      <nuxt-link to="/bookshelf">read</nuxt-link>, and sometimes, exercise.
    </p>
    
 
    <h2>Interests and Projects</h2>

    <img
      src="~/assets/tex.jpg"
      class="alignright"
      style="max-width: 290px"
      alt="A beautiful napping chihuahua"
    />

    <p>
      I (very infrequently) build sites for friends and small businesses at
      <a
        href="https://www.whalingcityweb.com"
      >Whaling City Web</a>
    </p>

    <p>
      I wrote
      <a
        href="http://www.amazon.com/gp/product/B00O1IVMGS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00O1IVMGS&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=WUWN3B4QSHJWBIUO"
      >a book about horror movies</a>
      (warning: this takes you to Amazon) and I ALSO have a
      <a
        href="https://www.goldenagehorror.com"
      >podcast</a> about them.
    </p>

    <p>
      I can't believe I'm telling you this, but I also
      <a
        href="https://actualplay.network"
      >record myself playing role playing games</a>.
    </p>

    <p>
      I run
      <a href="http://www.cthulhudice.com">an online retail experiment</a>.
    </p>
  </main>
</template>
