<template>
<main class="container inner padded">
    <h1>Currently Using</h1>
  
    <h2>Code editor</h2>
    <ul>
        <li><strong>Code editor</strong>: VS Code</li>
        <li><strong>Theme</strong>: Spirited Away</li>
        <li>
            <strong>Environment</strong>
                <ul> 
                    <li>XAMPP & Local by Flywheel for WordPress</li>
                    <li>various node servers :)</li>
                    <li>Docker for everything else</li>
                </ul>
        </li>
    </ul>

    <h2>Front end</h2>
    <h3>Javascript</h3>

    <ul>
        <li><strong>Vanilla javascript</strong>
            <ul><li>Web components</li></ul>
        </li>

        <li>Vue        
            <ul><li>Nuxt</li></ul>
        </li>
            
        <li>Svelte</li>
        <li>React</li>
        <li>Backbone</li>        
    </ul>

    <h3>CSS</h3>

    <ul>
        <li>SCSS, LESS</li>
        <li>Don't generally reach for frameworks but am comfortable with/have used Tailwind, Bootstrap, and Foundation</li>
    </ul>

    <h3></h3>

    <h2>Testing & Tooling</h2>

    <ul>
        <li>Parcel, Webpack, & Gulp</li>
        <li>PHPUnit, Jest, Browserstack, Puppeteer</li>    
        <li>Browser dev tools!</li>    
    </ul>

    <h3>Accessibility</h3>

    <ul>
        <li>SiteImprove</li>
        <li>AXE (Browser tool & Core)</li>
        <li>Jaws, NVDA, Voiceover, Windows high contrast mode</li>
    </ul>
    
    <h2>Backend & Hosting</h2>

    <ul>
        <li>The SHELL</li>
    </ul>

    <h3>Frameworks</h3> 

    <ul>
        <li>Python & php</li>
        <li>Django & Flask</li>
        <li>Laravel</li>
    </ul>

    <h3>Serverless</h3>

    <ul>
        <li>Azure</li>
        <li>Amazon S3</li>
    </ul>

    <h3>Hosting</h3>

    <ul>
        <li>Netlify</li>
        <li>Azure</li>
        <li>CPanel/Shared hosting</li>
    </ul>

    <h2>CMS</h2>
    
    <ul>
        <li>    
            WordPress! (& WooCommerce)            
            <ul>
                <li>Lots of Gutenberg blocks</li>
                <li>The REST API</li>
            </ul>  
        </li>
            
        <li>Shopify & Magento</li>
    </ul>
   

    <h2>Content Authoring</h2>

    <ul>
        <li>HTML</li>
        <li>Markdown</li>
        <li>Gutenberg</li>
    </ul>

    <h2>For fun</h2>

    <ul>
        <li>Audacity</li>
        <li>GIMP</li>
        <li>The Adobe Suite</li>
        <li>Scrivener</li>
    </ul>

    <hr />
    
    <p>
        You can see the
        <nuxt-link to="/bookshelf">books I've been reading here</nuxt-link>.
    </p>

</main>
</template>

<style scoped>
    ul li ul {
        margin-left: 1em;
    }

    h3 + ul {
        margin-left: 1em;
    }
</style>