<template>
    <div class="content-grid">
        <h1 class="padded aligncenter">Writing & Links</h1>
        
        <Archive :posts="posts" colors="alternate" titleTag="h2" />  
    
    </div>
</template>

<script>

import Archive from "../components/archive.vue";


export default {
    components: {
        Archive
    },

    computed: {
 
    },

    async asyncData({ $content, params}) {

        let posts = await $content("blog")      
            .sortBy("date", "desc")
            .fetch()    
                    
        return {
            posts
        }
    }
};
</script>

<style scoped>


</style>

